@import "./settings.css";

body {
  margin: 0;
  padding: 0;
  background: var(--white);
  width:100%;
  font-family: Mukta Malar;
}

p {
  margin: 0;
  padding: 0;
  display: flex;
}

#root {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  align-content: center;
}

#root #wrapper {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  justify-content: center;
  align-content: center;
  min-height:100vh;
}

#map-container {
  width: 100%;
  height: 100vh;
}

#map-container .marker {
  width:30px;
  height:30px;
  background:var(--black);
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  transform: translate(-10px, -15px);
}

#map-container .marker span {
  color:var(--white);
  font-weight: bold;
}


#sidebar {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-auto-rows: max-content;
  grid-template-columns:0.9fr;
  grid-row-gap:1.7vmin;
  padding-top: 2vmin;

  background:var(--black);
  color:var(--white);
  font-size:3vmin;
  height:calc(100vh - 2vmin);
  overflow-y: auto;
  position: relative;
}

#sidebar-title {
  font-size: 3vmin;
  border-bottom: solid 5px var(--grey);
}

#sidebar .sidebar-item {
  display: grid;
  grid-template-columns:0.1fr 0.8fr 0.1fr;
  grid-template-rows: max-content;
  justify-content: center;
  align-items: center;
  font-size:3vmin;
}

#sidebar .sidebar-item .item-name {
  text-align: left;
  padding-left: 2vmin;
}

#sidebar .sidebar-item img {
  cursor:pointer;
  width:3vmin;
  height:3vmin;
}

#sidebar #items-container {
  display:grid;
  grid-auto-rows: max-content;
  grid-template-columns:1fr;
  padding-bottom: 8vmin;
}

#sidebar #save-data {
  background: var(--light-green);
  color: var(--black);
  text-align: center;
  position: sticky;
  bottom: 1vmin;
  left: 5px;
  padding: 1vmin 2vmin;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  font-size: 2vmin;
  width: 80%;
}

#sidebar #save-data:hover {
  background:var(--teal);
}


@media (max-width: 1000px) { 
  #sidebar .sidebar-item img:nth-of-type(1) {
    display:none;
  }

  #sidebar .sidebar-item {
    grid-template-columns:1fr 0.1fr;
    font-size:2.5vmin;
  }

 }